<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<!-- Launch custom world Gazebo  -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find line_follower_ros)/worlds/lf.world"/>
		<arg name="paused" value="false"/>
		<arg name="gui" value="true"/>
	</include>


</launch>
